<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Space Transporter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css" href="/todolist.css">-->
</head>
<body>

<h1>Space Transporter</h1>
<br><br>

    <table class="table table-hover">
        <thead>
        <th>Planet</th>
        <th>Population</th>
        <th>Spaceship location</th>
        <th>People on ship</th>
        </thead>
        <tr th:each="planet:${planets}">
            <td th:text="${planet.name}"/>
            <td th:text="${planet.population}"/>
            <div th:if="${planet.id} == ${spaceship.planet_id}">
                <td>
                    <a th:href="@{|/toplanet/${planet.id}|}"><- to planet</a>
                    <a th:href="@{|/toship/${planet.id}|}">to ship -></a>
                </td>
            </div>
            <div th:unless="${planet.id} == ${spaceship.planet_id}">
                <td>
                    <a th:href="@{|/movehere/${planet.id}|}"><button type="button">Move here</button></a>
                </td>
            </div>

            <div th:if="${planet.id} == ${spaceship.planet_id}">
                <td th:text="${spaceship.utilization}"></td>
            </div>

            <div th:unless="${planet.id} == ${spaceship.planet_id}">
                <td></td>
            </div>
        </tr>
    </table>

    <div th:if="${error}">
        <p style="color: red">This is a wrong space ship position!</p>
    </div>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</div>
</body>
</html>